In [1]:
#Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
# File to Load 
schools_complete_csv = Path("../Resources/schools_complete.csv")
students_complete_csv = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(schools_complete_csv)
student_df = pd.read_csv(students_complete_csv)

# Combine the data into a single dataset.  
school_df_complete = pd.merge(student_df, school_df, how="left", on="school_name")
school_df_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
# Calculate the total number of unique schools
school_count = len(school_df_complete["school_name"].unique())
school_count

15

In [6]:
# Calculate the total number of students
student_count = len(school_df_complete["student_name"])
student_count

39170

In [16]:
# Calculate the total budget
total_budget = school_df["budget"].sum()
total_budget

24649428

In [8]:
# Calculate the average (mean) math score
average_math_score = school_df_complete["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = school_df_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [11]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_df_complete[(school_df_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [12]:
# Calculate the percentage of students who passed reading
passing_reading_count = school_df_complete[(school_df_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [13]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_df_complete[
    (school_df_complete["math_score"] >= 70) & (school_df_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [33]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([
    {'Total Schools':school_count, 'Total Students':student_count,
     'Total Budget':total_budget, 'Average Math Score':average_math_score, 
     'Average Reading Score':average_reading_score, '%Passing Math':passing_math_percentage, 
     '%Passing Reading': passing_reading_percentage, '%Overall Passing':overall_passing_rate}])


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [40]:
# Use the code provided to select all of the school types
school_types = school_df_complete["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [47]:
# Calculate the total student count per school
per_school_counts = school_df_complete.groupby("school_name")

per_school_counts_df = per_school_counts["student_name"].count()
per_school_counts_df

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [54]:
# Calculate the total school budget and per capita spending per school
per_school_budget = per_school_counts["budget"].sum()
per_school_budget
per_school_capita = per_school_counts["size"].sum()
per_school_capita

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [56]:
# Calculate the average test scores per school
per_school_math = per_school_counts["math_score"].mean()
per_school_reading = per_school_counts["reading_score"].mean()

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [61]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_df_complete[["school_name", "math_score"]]
# passing_math_count = school_df_complete[(school_df_complete["math_score"] >= 70)].count()["student_name"]
# school_students_passing_math =
students_passing_math

              school_name  math_score
0       Huang High School          79
1       Huang High School          61
2       Huang High School          60
3       Huang High School          58
4       Huang High School          84
...                   ...         ...
39165  Thomas High School          90
39166  Thomas High School          70
39167  Thomas High School          84
39168  Thomas High School          90
39169  Thomas High School          75

[39170 rows x 2 columns]

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = 
school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary